
<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <!-- -->
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="https://medium.com/@g.afraah" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <!--{% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}-->
    <a class="me-3 py-2 text-decoration-none" href="/projects.html">projects</a>
    <a class="me-3 py-2 text-decoration-none" href="/courses.html">courses</a>
    <a class="me-3 py-2 text-decoration-none" href="/cv.html">cv</a>
    <a class="me-3 py-2 text-decoration-none" href="https://www.a6g.dev">photography</a>
    <a class="me-3 py-2 text-decoration-none" href="/contact.html">contact</a>

  </nav>
</header>




- {name: 'projects', url: '/projects'}    
- {name: 'courses', url: '/courses'}
#- {name: 'tags', url: '/tags'}
- {name: 'cv', url: '/cv'}
- {name: 'photography', url: '/https://www.a6g.dev'}
- {name: 'contact', url: '/contact'}
